@font-face {
	font-family: "Etna";
	src:url("/Fonts/enta.eot");
	src:url("/Fonts/enta.otf") format("opentype"),
			url("/Fonts/etna.woff") format("woff"),
			url("/Fonts/etna.svg") format("svg"),
			url("/Fonts/etna.ttf") format("ttf");
}

@import url('https//fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Titllium+Web');

html {
	font-family: 'Titillium Web', sans-serif;
	height: 100%;
}

body {
	background-color: #EEEAE3;
	margin: 0;
}

.heading {
	font-family:'Etna', San-serif;
	text-align: center;
	color: #363151;
	font-size: 200px;
	margin-top: -15px;
}

.heading2 {
	font-family:'Etna', San-serif;
	text-align: center;
	color: #363151;
	font-size: 170px;
	margin-top: -150px;
}

.small-heading {
	font-family:'Etna', San-serif;
	text-align: center;
	color: #363151;
	font-size: 100px;
	margin-top: -100px;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #363151;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: block;
	color: #EEEAE3;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #323151;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {float:none;}
}

.copywrite {
	font-size: 20px;
	opacity: 0.25:
}

.box {
		font-family:'Titillium Web', sans-serif;
		position: absolute;
		height: 500px;
		width: 500px;
}

.mainpage {
		position: center;
}

#wrapper {position: relative;}

#aboutme {background-color: #EEEAE3;}
#myhtmlcss {background-color: #EEEAE3; display: none;}
#myjscript {background-color: #EEEAE3; display: none;}
#mycv {background-color: #EEEAE3; display: none;}
#contactme {background-color: #EEEAE3; display: none;}
