@font-face {
	font-family: "Etna";
	src:url("/Fonts/enta.eot");
	src:url("/Fonts/enta.otf") format("opentype"),
			url("/Fonts/etna.woff") format("woff"),
			url("/Fonts/etna.svg") format("svg"),
			url("/Fonts/etna.ttf") format("ttf");
}

@import url('https//fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Titllium+Web');

@import url('https://fonts.googleapis.com/css?family=Cairo');

html, header, body {
	background-color: #EEEAE3;
	font-family: 'Titllium Web', sans-serif;
}

a {
	color: #24282B;
}

	a:visited {
		text-decoration: none;
		color: #24282B;
	}

a:hover {
	text-decoration: none;
	color: #24282B;
}

a:focus {
	text-decoration: none;
	color: #24282B;
}

a:hover, a:active {
	 text-decoration: none;
	 color: #24282B;
 }

h2 {
		font-size: 1.15em;
		color: #24282B;
		font-family: 'Etna', Helvetica, sans-serif;
		text-align: left;
}

p {
	font-size: 1em;
	color: #24282B;
	text-align: left;
	font-family: 'Titllium Web', sans-serif;
}

.contacticon {
	height: 1.70em;
	width: auto;
	left: 0;
}

.contactinfo {
	font-family: 'Cairo', sans-serif;
	line-height: 80%;
	font-size: 1.70em;
	text-decoration: none;
	padding-bottom: -0.1px;
}

.heading {
	font-family:'Etna', sans-serif;
	text-align: center;
	color: #363151;
	font-size: 4.50em;
	margin: 0;
	padding: 0;
	line-height: 90%;
}

.heading2 {
	font-family:'Etna', sans-serif;
	text-align: center;
	color: #363151;
	font-size: 2.00em;
	margin: 0;
	padding: 0;
	line-height: 90%;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.small-heading {
	font-family:'Etna', sans-serif;
	text-align: center;
	color: #363151;
	font-size: 1.15em;
	margin: 0;
	line-height: 90%;
}

.navcenter{
	width : 100%;
	max-width: 400px;
	height: auto;
	align-items: center;
	z-index: -1;
}

.copywrite {
	font-size: 0.6em;
	opacity: 0.25:
}

.content-reveal {
		display: block;
		align-items: center;
		max-width: 720px;
		width: 100%;
		overflow: auto;
}

#wrapper {
	width: 450px;
	height: auto;
	margin: 0 auto 10px;
	align-items: center;
	overflow: auto;
}

#aboutme {background-color: #EEEAE3;}
#myhtmlcss {background-color: #EEEAE3;}
#myjscript {background-color: #EEEAE3;}
#mycv {background-color: #EEEAE3;}
#contactme {background-color: #EEEAE3;}


@media (min-width: 768px) and (max-width: 1024px) {
	.content-reveal, #wrapper {
    width: 80%;
		height: auto;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.content-reveal, #wrapper {
    width: 80%;
		height: auto;
    padding: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
	.content-reveal, #wrapper {
    width: 80%;
		height: auto;
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
	.content-reveal, #wrapper {
    width: 80%;
		height: auto;
    padding: 0;
  }
}
