@font-face {
  font-family: "Etna";
  src: url("/Fonts/enta.eot");
  src: url("/Fonts/enta.otf") format("opentype"), url("/Fonts/etna.woff") format("woff"), url("/Fonts/etna.svg") format("svg"), url("/Fonts/etna.ttf") format("ttf"); }
.PrimaryNav {
  list-style: none;
  margin: 50px auto;
  max-width: 720px;
  padding: 0;
  width: 100%;
  align-items: center;
  line-height: 90%; }

.Nav-item {
  background: #363151;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  text-align: center;
  font-family: "Etna", sans-serif;
  cursor: pointer; }
  .Nav-item:first-child {
    border-radius: 3px 0 0 3px; }
  .Nav-item:last-child {
    border-radius: 0 3px 3px 0; }
  .Nav-item.is-active a {
    color: #363151; }
  .Nav-item a {
    color: #121212;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none; }
    .Nav-item a:hover {
      color: #363151; }

.with-indicator {
  position: relative;
  z-index: 0; }
  .with-indicator .Nav-item:last-child:before, .with-indicator .Nav-item:last-child:after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    transition: left 1.3s ease; }
  .with-indicator .Nav-item:last-child:before {
    border: 6px solid transparent;
    border-top-color: #363151;
    width: 0;
    height: 0;
    top: 0;
    left: 10%;
    margin-left: -3px; }
  .with-indicator .Nav-item:last-child:after {
    background: #363151;
    top: -6px;
    bottom: -6px;
    left: 0;
    width: 20%;
    z-index: -1; }
  .with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:after {
    left: 0%; }
  .with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:before {
    left: 10%; }
  .with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:after {
    left: 20%; }
  .with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:before {
    left: 30%; }
  .with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:after {
    left: 40%; }
  .with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:before {
    left: 50%; }
  .with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:after {
    left: 60%; }
  .with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:before {
    left: 70%; }
  .with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:after {
    left: 0% !important; }
  .with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:before {
    left: 10% !important; }
  .with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:after {
    left: 20% !important; }
  .with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:before {
    left: 30% !important; }
  .with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:after {
    left: 40% !important; }
  .with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:before {
    left: 50% !important; }
  .with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:after {
    left: 60% !important; }
  .with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:before {
    left: 70% !important; }
  .with-indicator .Nav-item:last-child:hover:before, .with-indicator .Nav-item:last-child.is-active:before {
    left: 90% !important; }
  .with-indicator .Nav-item:last-child:hover:after, .with-indicator .Nav-item:last-child.is-active:after {
    left: 80% !important; }

/*# sourceMappingURL=stylescss.css.map */
