@import url('https://fonts.googleapis.com/css?family=Righteous');

.page {
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

html {
  font-family: 'Righteous', cursive;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  background-color: #666699;
  text-align: center;
}

header {
  text-align: center;
}
header span {
  font-size: 60px;
  font-size: 2em;
  color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
}

.ball {
position: relative;
}
.ball img{
  width: 100%;
  max-width: 40em;
}
.answer {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 38%;
  left: 46%;
  width: 11%;
  font-size: 50%;
}

#questionButton {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  font-size: 1.875em;
  color: #ffffff;
  background-color: #330066;
  border-radius: 5px;
  border: none;
  padding: .5em 1em;
  width: 80%;
  max-width: 15em;
  margin-top: 1em;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
  font-size: .75em;
}
