@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Montserrat:300');

img {
  height: auto;
  width: 30%;
  left: 0%;
}

.description{
  font-size: 20px;
}

.cook-time{
  font-weight: bold;
}

.ingredients{
  list-style: square;
}

.time{
  color:gray;
}

.citation{
  color: Seagreen;
}

.extrenal-Link{
  color: Seagreen;
}

h1, h2, p, li{
  font-family: 'Just Another Hand', cursive;
}

html, header {
	background-color: #EEEAE3;
  font-family: 'Just Another Hand', cursive;
}

body {
  font-family: 'Montserrat', sans-serif;
}
