@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway');

img {
  width: auto;
}

.description{
  font-size: 20px;
}

.footer {
  background-color:#f1f1f1;
  text-align:center;
  padding:10px;
  margin-top:7px;
  font-size:12px;
}

.cook-time{
  font-weight: bold;
}

.ingredients{
  list-style: square;
}

.time{
  color:gray;
}

.citation{
  color: Seagreen;
}

.extrenal-Link{
  color: Seagreen;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
  text-align: left;
}

html, header {
	background-color: #b9d9c9;
  font-family: 'Dancing Script', cursive;
  text-align: left;
}

body, p, li {
  font-family: 'Railway', sans-serif;
  align-items: center;
  overflow: hidden;
  text-align: left;
  background-color: #d9c9b9;
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  background-color: #b9d9c9;
}

.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Raleway', sans-serif;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}

.right {
  background-color: #c9b9d9;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

.top {
  background-color:#b9d9c9;
  padding:15px;
}

@media only screen and (max-width:800px) {
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {
  .menu, .main, .right {
    width: 100%;
  }
}
